doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title 新的订单待确认[SciCompass]
	body
		table(border='0', cellpadding='0', cellspacing='0', width='100%')
			tr
				p 尊敬的 {name}:
				p 有一份新的订单等待您确认：
				a(href="") 
				p 请在3小时内处理完毕，如有问题联系：
				a(href="")				
				p 科学指南针团队
				p {datetime}