doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title 仪器预约信息[SciCompass]
	body
		table(border='0', cellpadding='0', cellspacing='0', width='100%')
			tr
				p 尊敬的 {name}:
				p 祝贺您成功的在科学指南针预定了一台设备。
				p 以下是您的预约信息：
				p 设备ID: {deviceID}
				p 使用日期: {useDate}
				p 设备类别: {category}
				p model: {vendor} - {model}
				p 设备所属单位: {institute}
				p 地址: {address}
				p 城市: {city}
				p 价格： {price} / {unit}
				
				p 您的预约还需要设备操作员确认方可生效，通常会在3小时内完成。
				p 祝您试验顺利。
				p 科学指南针

				p {datetime}


				p Dear {name}:
				p Congratulation on successfully booking an device on SciCompass.
				p Memo for your booking:
				p deviceID: {deviceID}
				p useDate: {useDate}
				p category: {category}
				p model: {vendor} - {model}
				p institute: {institute}
				p address: {address}
				p city: {city}
				p price: {price} / {unit}
				p Your booking need to be confirmed by device operator, it should complete within 3 hours.
				p {datetime}