doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="管理员 - 科学指南针")
		meta(name="renderer" content="webkit")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		title 管理员 - 科学指南针
		link(rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="/static/css/supervisor/style.css")
		link(rel="stylesheet" href="/static/bower_components/animate.css/animate.min.css")
		link(rel="stylesheet" href="/static/bower_components/angular-ui-grid/ui-grid.min.css")
		script(src="/static/bower_components/angular/angular.js")
		script(src="/static/bower_components/angular-route/angular-route.js")
		script(src="/static/bower_components/angular-resource/angular-resource.js")
		script(src="/static/bower_components/angular-animate/angular-animate.js")
		script(src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
		script(src="/static/bower_components/angular-ui-grid/ui-grid.js")
		script(src="/static/js/supervisor/app.js")
		script(src="/static/js/supervisor/controller.js")
		script(src="/static/js/supervisor/service.js")
		link(rel="icon" type="image/png" sizes="256x256" href="/static/img/logo.png")

	body(ng-app="supervisorApp")
		div#sidebar(ng-controller="AccordionCtrl")
			accordion
				accordion-group(heading="数据中心", is-open="isFirstOpen")
					p
						a(href="#/") 全局
					p
						a(href="#/visitor") 访客统计
					p
						a(href="#/booking") 预约统计
					p
						a(href="#/pay") 支付统计
				accordion-group(heading="前台管理")
					p
						a(href="#/icon") 首页图标
					p
						a(href="#/content") 首页栏目
				accordion-group(heading="分类管理")
					p
						a(href="#/category") 仪器分类
					p
						a(href="#/keyword") 仪器关键词
				accordion-group(heading="机构管理")
					p
						a(href="#/institute") 机构管理
					p
						a(href="#/verify") 机构审核
					p
						a(href="#/operator") 操作员管理
				accordion-group(heading="仪器管理")
					p
						a(href="#/instrument") 仪器管理
					p
						a(href="#/permit") 仪器审核
				accordion-group(heading="用户管理")
					p
						a(href="#/user") 用户管理
					p
						a(href="#/level") 用户级别
				accordion-group(heading="订单管理")
					p
						a(href="#/order") 订单管理
					p
						a(href="#/status") 订单状态
				accordion-group(heading="管理员")
					p
						a(href="#/admin") 管理员

		div#main(class="view-frame" ng-view)
