@charset "utf-8";

@blue: #35BDB2;
@wp-blue: #0074A2;
@green: #20AF74;
@bg-green: #EDFFF8;
@cube-green: rgba(32, 175, 116, 0.5);
@hr-green: rgba(32, 175, 116, 0.15);
@transparent: rgba(255, 255, 255, 0.5);
@transparent-hover: rgba(255, 255, 255, 0.8);
@grey: rgba(0, 0, 0, 0.4);

body {
	color: @green;
	background-color: @bg-green;
}

hr {
	border-color: @hr-green;
}

.shadow() {
	box-shadow: 0 0 1rem #DDD;
}

.col-padding(@parameter) {
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
		padding: @parameter;
	}
}

#home {
	#cube-wrap {
		position: absolute;
		height: 360%;
		width: 100%;
		top: 0;
		z-index: -100;
		overflow: hidden;
		.animation(fadeInDown 1s);
		.cube > * {
			border-color: @cube-green;
		}
	}
	#slogan {
		text-align: center;
		padding-top: 30vh;
		p.big {
			font-size: 8rem;
		}
		p.little {
			font-size: 3rem;
			letter-spacing: 1rem;
		}
	}
	#action {
		margin-top: 3rem;
		text-align: center;
		.ellipse {
			display: inline-block;
			font-size: 2rem;
			margin: 0 0.5rem;
			transition: all 0.5s;
		}
		#go {
			border-radius: 3rem;
			background-color: @green;
			padding: 0.8rem 2rem;
			color: white;
			span.glyphicon {
				margin-left: 1.5rem;
			}
			&:hover {
				opacity: 0.8;
			}
		}
		#view {
			border-radius: 3rem;
			border: 1px solid @green;
			padding: 0.8rem 2rem;
			cursor: pointer;
			&:hover {
				background-color: white;
			}
		}
	}
	#flow {
		margin-top: 12%;
		text-align: center;
		p#flow-name {
			font-size: 2.5rem;
		}
		.step {
			padding: 2rem;
			transition: all 0.5s;
			background-color: @transparent;
			.shadow();
			cursor: pointer;
			&:hover {
				background-color: ;
				transform: scale(1.1);
			}
			.glyphicon {
				margin: 3rem 0;
				font-size: 8rem;
			}
			p.name {
				font-size: 2rem;
			}
		}
	}
	#supply {
		margin-top: 8%;
		text-align: center;
		p#suppy-name {
			font-size: 2.5rem;
			margin-bottom: 2rem;
		}
		.row {
			background-color: @transparent;
			.shadow();
			img {
				width: 70%;
				background-color: white;
				.shadow();
				cursor: pointer;
			}
		}
	}
	#user {
		margin-top: 8%;
		text-align: center;
		p#user-name {
			font-size: 2.5rem;
			margin-bottom: 2rem;
		}
		#comment {
			background-color: @transparent;
			.shadow();
			.row {
				img {
					width: 70%;
					background-color: white;
					.shadow();
					cursor: pointer;
				}
			}
			.words {
				padding-bottom: 2rem;
				p.name {
					span.realName {
						font-size: 2rem;
						margin-right: 1rem;
						&:before {
							content: "——";
							margin-right: 1rem;
						}
					}
					span.identity {
						font-size: 1.5rem;
						&:after {
							font-size: 2rem;
							content: "——";
							margin-left: 1rem;
						}
					}
				}
				p.feeling {
					margin: 0 auto;
					width: 60%;
				}
			}
		}
	}
	#go-again {
		margin-top: 8%;
		text-align: center;
		div {
			display: inline-block;
			font-size: 2.5rem;
			vertical-align: middle;
		}
		#go-bottom {
			margin-left: 1rem;
			padding: 0.8rem 2rem;
			font-size: 2rem;
			border-radius: 3rem;
			background-color: @green;
			color: white;
			cursor: pointer;
			span.glyphicon {
				margin-left: 1.5rem;
			}
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

#about {
	margin-top: 8%;
	text-align: center;
	font-size: 0;
	ul.col {
		display: inline-block;
		list-style: none;
		padding-left: 0;
		width: 25%;
		font-size: 1.8rem;
		font-weight: bold;
		li {
			margin: 0.5rem 0;
			font-size: 1.5rem;
			font-weight: normal;
		}
		li:first-child {
			margin-top: 1rem;
		}
	}
}

#contract {
	margin-top: 2rem;
	text-align: center;
	img#logo {
		height: 5rem;
	}
	ul {
		list-style: none;
		padding-left: 0;
		margin-top: 1rem;
		li {
			display: inline-block;
			margin: 0 1rem;
		}
	}
	ul#approve-list {
		font-size: 1rem;
		opacity: 0.8;
	}
}

.login {
	.modal-header {
		text-align: center;
	}
	.modal-body {
		padding: 0;
		input {
			width: 100%;
			border-radius: 0;
			border: 0;
			height: 4rem;
		}
		label {
			float: left;
		}
	}
	hr.divide {
		margin: 10px 0;
	}
}

.loginBack {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
}

#list {
	margin: 12rem auto 0;
	.glyphicon {
		margin-right: 0.5rem;
	}
	.col-padding(5px);
	#suggestion {
		@media (orientation:portrait) {
			margin: 1rem 0;
			padding: 4rem 2rem;
			font-size: 4rem;
			text-align: center;
			background-color: @transparent;
			.shadow();
		}
		@media (orientation:landscape) {
			display: none;
		}
	}
	#search {
		margin: 1rem 0;
		text-align: center;
		padding: 2rem 0 1rem;
		font-size: 2.5rem;
		background-color: @transparent;
		.shadow();
		#keyword {
			display: inline-block;
			width: 50%;
			vertical-align: middle;
		}
		#count {
			font-size: 2rem;
			margin: 0;
		}
	}
	#filter {
		padding: 1rem 3rem;
		font-size: 1.5rem;
		background-color: @transparent;
		.shadow();
		.key {
			span.type {
				font-size: 1.8rem;
			}
		}
		.value {
			label.btn-sm {
				margin-right: 1rem;
			}
			label.active {
				color: #FFF;
				background-color: #31B0D5;
				border-color: #269ABC;
			}
			span.caret {
				margin-left: 0.5rem;
			}
		}
	}
	#content {
		.device {
			margin: 1rem 0;
			padding: 1rem;
			.shadow();
		}
		.nodevice {
			margin: 1rem 0;
			line-height: 6rem;
			font-size: 3rem;
			text-align: center;
			background-color: @transparent;
			.shadow();
		}
	}
}

.device {
	background-color: @transparent;
	img.shot {
		box-shadow: 0 0 4px #FFF;
	}
	.info {
		.row {
			font-size: 1.6rem;
			margin-left: 5px;
			p.category {
				font-size: 2rem;
				font-weight: bold;
			}
			span.glyphicon {
				color: @blue;
			}
			label.btn-xs {
				margin-left: 5px;
			}
			span.caret {
				margin-left: 5px;
			}
		}
		.more {
			margin-top: 10px;
			margin-left: 10px;
		}
		.spec {
			p {
				font-weight: bold;
				font-size: 2rem;
			}
			a {
				color: @blue;
			}
		}
		hr {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	.action {
		margin-top: 3rem;
		label.btn {
			margin: 1rem auto;
		}
	}
}

#device {
	margin: 12rem auto 0;
	padding: 2rem 3rem;
	background-color: @transparent;
	.shadow();
	.col-padding(5px);
	.glyphicon {
		margin-right: 0.5rem;
	}
	hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.device {
		background-color: transparent;
	}
	#booking {
		margin-left: 5px;
		p.title {
			font-size: 2rem;
			font-weight: bold;
		}
		#datepicker{
			width: 100%;
		}
		#stock {
			span.tip {
				font-size: 1.5rem;
			}
			span.content {
				font-size: 2rem;
				margin-left: 1rem;
				font-weight: bold;
			}
		}
	}
}

// Animation
.animation (@parameter) {
	-webkit-animation: @parameter;
	animation: @parameter;
}

.view-frame.ng-enter {
	.animation(fadeInUp 0.5s);
}

.view-frame.ng-leave {
	.animation(fadeOut 0.5s);
}
