@charset "utf-8";

@bg-green: #EDFFF8;

body {
	background-color: @bg-green;
}

img#logoBox{
	display: block;
	margin: 5% auto 2%;
	width: 80%;
	@media (min-width: 768px) and (max-width: 992px) {
		width: 60%;
	}
	@media (min-width: 992px) {
		width: 40%;
	}
}

#loginForm {
	@media (min-width: 768px) and (max-width: 992px) {
		width: 70%;
	}
	@media (min-width: 992px) {
		width: 40%;
	}
	margin: 2% auto 0;
	padding: 0 0 1.5rem;
	background-color: white;
	box-shadow: 0 0 1rem #AAA;
	border-radius: 6px;
	h2 {
		padding-top: 2rem;
		text-align: center;
	}
	input{
		width: 100%;
		font-size: 1.8rem;
		height: 4rem;
		border-radius: 0;
		border: 0;
	}
	input[name="username"] {
		margin-top: 2rem;
	}
	input[name="password"] {
		margin-top: -1px;
		border-radius: 0;
	}
	input[name="captcha"] {
		display: inline-block;
		width: 70%;
		margin-top: -1px;
	}
	img#captcha {
		display: inline-block;
		width: 30%;
		vertical-align: top;
	}
	button#submit{
		margin-top: 2rem;
		margin-left: 80%;
	}
}
