@charset "utf-8";

@bg: #F5F5F5;
@text: #333;
@white: #FFF;
@lightwhite: rgba(255, 255, 255, 0.7);
@darkwhite: rgba(255, 255, 255, 0.4);
@green: #35BDB2;
@lightgreen: rgba(53, 189, 178, 0.95);
@grey: rgba(0, 0, 0, 0.4);
@darkgrey: rgba(0, 0, 0, 0.4);
@lightblue: #31B0D5;
@blue: #337AB7;
@nav: rgba(0, 0, 0, 0.5);

body {
	background-color: @bg;
}

a {
	color: @text;
	&:hover {
		text-decoration: none;
	}
}

ul {
	list-style: none;
	padding-left: 0;
	li {
		display: inline-block;
	}
}

.disable-select() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.shadow() {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

span.glyphicon {
	margin-right: 0.5rem;
}

nav {
	position: fixed;
	top: 0;
	height: 6rem;
	width: 100vw;
	background-color: @nav;
	img#logo {
		margin-top: 0.5rem;
		margin-left: 8vw;
		height: 5rem;
	}
	ul {
		float: right;
		margin-right: 3vw;
		font-size: 2rem;
		line-height: 6rem;
		color: @white;
		li {
			margin-right: 3vw;
			cursor: pointer;
		}
	}
}

div#bg {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-image: url(/static/img/bg.jpg);
	background-size: cover;
	background-position: fixed;
	z-index: -1;
}

div#view {
	div#home {
		height: 100vh;
		div#slogan {
			.disable-select();
			text-align: center;
			padding-top: 40vh;
			color: @white;
			p.big {
				font-size: 4.5vw;
			}
		}
		div#box {
			display: table;
			margin: 5vh auto 0;
			color: @white;
			font-size: 18px;
			p#tip {
				font-size: 2rem;
				text-align: center;
				span.icon {
					margin-right: 1rem;
				}
			}
			hr#line {
				margin: 0;
			}
			div#row {
				padding: 1rem;
				text-align: center;
				div.key {
					display: inline-block;
					margin-right: 1rem;
				}
				div.value {
					display: inline-block;
				}
			}
		}
	}
	div#list {
		width: 75vw;
		margin: 12rem auto 0;
		background-color: @darkwhite;
		div#filter {
			padding: 2rem 4rem;
			font-size: 1.5rem;
			color: @white;
			background-color: @darkgrey;
			div.row {
				margin-bottom: 1rem;
				div.key {
					display: inline-block;
					margin-right: 1rem;
					min-width: 12rem;
					span.type {
						font-size: 1.8rem;
					}
				}
				div.value {
					display: inline-block;
					label.btn-sm {
						margin-right: 1rem;
					}
					label.active {
						color: #fff;
						background-color: #337ab7;
						border-color: #2e6da4;
					}
				}
			}
		}
		div#content {
			border-radius: 1rem;
			div.device {
				margin: 1rem 0;
				background-color: @lightwhite;
				img.shot {
					width: 12vw;
					display: inline-block;
					vertical-align: top;
					margin: 2rem;
					box-shadow: 0 0 3px #FFF;
				}
				div.info {
					width: 45vw;
					display: inline-block;
					vertical-align: top;
					margin-top: 2rem;
					margin-left: 1rem;
					p.row {
						font-size: 1.6rem;
						span.category {
							font-size: 2rem;
							font-weight: bold;
							margin-right: 4rem;
						}
						span.address {
							margin-right: 2rem;
						}
						span.glyphicon {
							color: @lightblue;
						}
						span.model {
							font-size: 1.8rem;
						}
						label.btn-xs {
							margin-right: 1rem;
						}
						span.caret {
							margin-left: 0.5rem;
						}
					}
					div.split {
						height: 1px;
						background-color: @grey;
						margin: 0 -2rem 1rem;
						box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
					}
				}
				div.action {
					display: inline-block;
					margin-left: 1rem;
					width: 13vw;
					div.group {
						width: 10vw;
						margin: 7rem auto 0;
						label.btn {
							margin: 2rem auto;
						}
					}
				}
			}
		}
	}
}

// Animation
.animation (@parameter) {
	-webkit-animation: @parameter;
	animation: @parameter;
}

.view-frame.ng-enter {
	.animation(0.5s fadeIn);
}

.view-frame.ng-leave {
	.animation(0.5s fadeOut);
}
