@charset "utf-8";

@bg: #F5F5F5;
@text: #333;
@white: #FFF;
@nav: rgba(0, 0, 0, 0.6);
@shadow: rgba(0, 0, 0, 0.15);
@grey: #333;
@darkgrey: #222;

body {
	background-color: @bg;
}

a {
	color: @text;
	&:hover {
		text-decoration: none;
	}
}

ul {
	list-style: none;
	padding-left: 0;
	li {
		display: inline-block;
	}
}

.disable-select() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.shadow() {
	box-shadow: 1px 1px 3px @shadow;
}

nav {
	position: fixed;
	height: 6rem;
	width: 100vw;
	background-color: @nav;
	img#logo {
		margin-top: 0.5rem;
		margin-left: 8vw;
		height: 5rem;
	}
	ul {
		float: right;
		margin-right: 3vw;
		font-size: 2rem;
		line-height: 6rem;
		color: @white;
		li {
			margin-right: 3vw;
			cursor: pointer;
		}
	}
}

div#main {
	height: 100vh;
	background-image: url(/static/img/bg.jpg);
	background-size: cover;
	div#slogan {
		.disable-select();
		text-align: center;
		padding-top: 30vh;
		color: #FFF;
		p.big {
			font-size: 4.5vw;
		}
		p.small {
			font-size: 2vw;
		}
	}
}

// Animation
.animation (@parameter) {
	-webkit-animation: @parameter;
	animation: @parameter;
}

.view-frame.ng-enter {
	.animation(0.5s fadeIn);
}

.view-frame.ng-leave {
	.animation(0.5s fadeOut);
}
