@charset "utf-8";

@blue: #35BDB2;
@green: #20AF74;
@nav-green: rgba(237, 255, 248, 0.8);

.navbar {
	height: 60px;
}

.navbar-header {
	height: 60px;
}

.navbar-brand {
	padding: 5px;
	& > img {
		height: 50px;
	}
}

.navbar-brand,
.navbar-nav > li > a {
	font-size: 20px;
	line-height: 30px;
	cursor: pointer;
}

.navbar-default {
	background-color: @nav-green;
	box-shadow: 0 0 4px @blue;
}

.navbar-default .navbar-nav > li > a {
	color: @green;
	transition: all 0.5s;
	&:hover, &:focus {
		background-color: @green;
		color: white;
	}
}

.navbar-default .navbar-toggle {
	margin-top: 10px;
	margin-bottom: 10px;
	transition: all 0.5s;
	& > a {
		color: @green;
	}
	&:hover {
		background-color: @green;
		& > a {
			color: white;
		}
	}
}
