#device.container
	.device.row
		include ./deviceMixin.jade
		+device(true)

	#booking.row
		.col-xs-2
		.col-xs-10
			p.title
				span.glyphicon.glyphicon-check
				| 在线预约
			hr
			.row
				.col-sm-4
					#datepicker
						datepicker.well.well-sm(ng-model='date' min-date='minDate' max-date='maxDate')
				.col-sm-8
					#stock
						p.date
							span.tip 预约日期：
							span.content {{date | date:'yyyy-MM-dd' }}

						p.left
							span.tip 预约方式：
							span.content.btn-group
								label.btn.btn-default(ng-repeat="method in schedule.method" ng-model="orderModel.method" btn-radio="'{{method}}'") {{method | translate}}

						div.price(ng-show="orderModel.method == 'RESOURCE'")
							span.tip 实验容量及预算：
							div(ng-repeat='(name, value) in schedule.resource')
								b
									span {{name}}
									span(style="float: right") {{value[0]}} / {{value[1]}}

								progressbar(max='value[2]' value='value[3]')
									span(style="color:black; min-width: 4rem; display: inline-block") {{value[3]}} / {{value[2]}}

						p.left(ng-show="orderModel.method == 'RESOURCE'")
							span.tip 预约项目：
							span.content.btn-group
								label.btn.btn-default(ng-repeat='(name, value) in schedule.resource' ng-class="{'disabled': value[3] == value[2]}" ng-model="orderModel.resource" btn-radio="'{{name}}'") {{name}}
						div.price(ng-show="orderModel.method == 'UNLIMITED'")
							span.tip 实验预算：
							span.content {{schedule.unlimited[0]}} / {{schedule.unlimited[1]}}

						label.btn.btn-success.btn-block.booking(ng-click="book()") 立即预约

include ./footer.jade
