#device.container
	.device.row
		include ./deviceMixin.jade
		+device(true)

	#booking.row
		.col-xs-2
		.col-xs-10
			p.title
				span.glyphicon.glyphicon-check
				| 在线预约
			hr
			.rowschedule
				.col-sm-4
					#datepicker
						datepicker.well.well-sm(ng-model='date' min-date='minDate' max-date='maxDate')
				.col-sm-8
					#stock
						p.date
							span.tip 预约日期：
							span.content {{date | date:'yyyy-MM-dd' }}
						div(ng-show='inWork')
							p.left
								span.tip 预约方式：
								span.content.btn-group
									label.btn.btn-default(ng-repeat="method in device.schedule.method" ng-model="orderModel.method" btn-radio="'{{method}}'") {{method | translate}}
							p.left(ng-show="orderModel.method == 'RESOURCE'")
								span.tip 预约项目：
								span.content.btn-group
									label.btn.btn-default(ng-repeat='(name, value) in resource' ng-hide='value.count >= value.capacity' ng-model="orderModel.resource" btn-radio="'{{name}}'") {{name}}
							div.price(ng-show="orderModel.method == 'RESOURCE'")
								span.tip 项目容量及预算：
								div(ng-repeat='(name, value) in resource')
									b
										span {{name}}
										span(style="float: right") {{value.price}} {{value.unit}}

									progressbar(max='value.capacity' value='value.count')
										span(style="color:black; min-width: 4rem; display: inline-block") {{value.count}} / {{value.capacity}}

							div.price(ng-show="orderModel.method == 'UNLIMITED'")
								span.tip 实验预算：
								span.content {{device.schedule.unlimited.price}} {{device.schedule.unlimited.unit}}

							label.btn.btn-success.btn-block.booking(ng-click="book()") 立即预约
						div(ng-hide='inWork')
							h1 今天不上班 :(
include ./footer.jade
