#list.container
	#suggestion
		p 请旋转至横屏以获得更好的排版效果

	#filter
		.row
			.col-xs-2
				.key
					span.glyphicon.glyphicon-list
					span.type 领域：
			.col-xs-10
				.value
					label.btn.btn-sm.btn-default(ng-model="filterModel.domain" btn-radio="'不限'") 不限
					label.btn.btn-sm.btn-default(ng-repeat="(domain, _) in data.hierarchy" ng-model="filterModel.domain" btn-radio="'{{domain}}'") {{domain}}

		.row
			.col-xs-2
				.key
					span.glyphicon.glyphicon-th
					span.type 性质：
			.col-xs-10
				.value
					label.btn.btn-sm.btn-default(ng-model="filterModel.feature" btn-radio="filterModel.domain") {{filterModel.domain}}
					label.btn.btn-sm.btn-default(ng-repeat="feature in data.index.feature[filterModel.domain].self | unique" ng-model="filterModel.feature" btn-radio="'{{feature}}'") {{feature}}
					label.btn.btn-sm.btn-default(ng-show="data.index.feature[filterModel.domain].more.length" ng-click="hideMoreFeature = !hideMoreFeature") 更多
						span.caret

		.row(collapse="hideMoreFeature" ng-repeat="row in data.index.feature[filterModel.domain].more")
			.col-xs-2
				.key
			.col-xs-10
				.value
					label.btn.btn-sm.btn-default(ng-repeat="feature in row | unique" ng-model="filterModel.feature" btn-radio="'{{feature}}'") {{feature}}

		.row
			.col-xs-2
				.key
					span.glyphicon.glyphicon-th-large
					span.type 类别：
			.col-xs-10
				.value
					label.btn.btn-sm.btn-default(ng-model="filterModel.category" btn-radio="filterModel.feature") {{filterModel.feature}}
					label.btn.btn-sm.btn-default(ng-repeat="category in data.index.category[filterModel.feature].self | unique" ng-model="filterModel.category" btn-radio="'{{category}}'") {{category}}
					label.btn.btn-sm.btn-default(ng-show="data.index.category[filterModel.feature].more.length" ng-click="hideMoreCategory = !hideMoreCategory") 更多
						span.caret

		.row(collapse="hideMoreCategory" ng-repeat="row in data.index.category[filterModel.feature].more")
			.col-xs-2
				.key
			.col-xs-10
				.value
					label.btn.btn-sm.btn-default(ng-repeat="category in row | unique" ng-model="filterModel.category" btn-radio="'{{category}}'") {{category}}

		.row
			.col-xs-2
				.key
					span.glyphicon.glyphicon-flag
					span.type 地点：
			.col-xs-10
				.value
					label.btn.btn-sm.btn-default(ng-model="filterModel.locale" btn-radio="'不限'") 不限
					label.btn.btn-sm.btn-default(ng-repeat="locale in data.index.locale" ng-model="filterModel.locale" btn-radio="'{{locale}}'") {{locale}}

		.row(ng-repeat="field in data.field[filterModel.category]")
			.col-xs-2
				.key
					span.glyphicon.glyphicon-wrench
					span.type {{field}}：
			.col-xs-10
				.value
					label.btn.btn-sm.btn-default(ng-model="filterModel.field[field]" btn-radio="'不限'") 不限
					label.btn.btn-sm.btn-default(ng-repeat="value in data | fieldFilter:filterModel:field | unique" ng-model="filterModel.field[field]" btn-radio="'{{value}}'") {{value}}

	#content
		.device.row(ng-repeat="device in data | listFilter:filterModel:this")
			include ./deviceMixin.jade
			+device(false)

		.nodevice(ng-show="nodevice")
			p 没有合适的仪器，要求不要那么高嘛

include ./footer.jade
