.modal-header
	h3.modal-title 加入科学指南针
	p 让实验更轻松

.modal-body
	.alert.alert-danger(ng-if="error") {{errorText}}
	.alert.alert-success(ng-if="success") 注册成功
	form
		input(type="email" ng-model="email" class="form-control" placeholder="邮箱地址" required autofocus)
		input(type="password" ng-model="password" class="form-control" placeholder="密码" required)
		button(type="submit" ng-click='signin()' style='display: none')

.modal-footer
	button.btn.btn-primary.btn-block(ng-click='signin()') 登录
	hr.divide
	button.btn.btn-info.btn-block(ng-click='signup()') 注册
