doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title You have booked an device on SciCompass
	body
		table(border='0', cellpadding='0', cellspacing='0', width='100%')
			tr
				p Dear {name}:
				p Congratulation on successfully booking an device on SciCompass.
				p Memo for your booking:
				p deviceID: {deviceID}
				p useDate: {useDate}
				p category: {category}
				p model: {vendor} - {model}
				p institute: {institute}
				p address: {address}
				p city: {city}
				p price: {price} / {unit}
				p Your booking need to be confirmed by device operator, it should complete within 3 hours.
				p {datetime}
