doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title 订单已确认
	body
		table(border='0', cellpadding='0', cellspacing='0', width='100%')
			tr
				p 尊敬的 {name}:
				p 您好。
				p 您的仪器预约已被仪器管理员确认，请在24小时内付款。过期订单将被取消。
				p 付款链接：
				a(href="") 
				p 感谢您使用科学指南针
				p {datetime}