doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title 预约待联系
	body
		table(border='0', cellpadding='0', cellspacing='0', width='100%')
			tr
				p 尊敬的 {name}:
				p 有一笔预约已经付款。希望您能尽快与预约者取得联系，以确认具体时间。
				a(href="") 预约者信息
				p 感谢您使用科学指南针
				p {datetime}