doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title 等待评价
	body
		table(border='0', cellpadding='0', cellspacing='0', width='100%')
			tr
				p 尊敬的 {name}:
				p 欢迎您注册科学指南针!
				p 您对于近期的一次仪器预约体验如何？希望您能对仪器和提供方进行评价。

				a(href="https://scicompass.sinaapp.com/verify") https://scicompass.sinaapp.com/verify
				
				p 感谢您使用科学指南针
				p {datetime}