div.content
	p#title 账单信息
	div#controlBar
		label 快速过滤:
			input(type="text" class="form-control" ng-model="keyword" placeholder="关键词")
			span 总计: {{(billList | filter:keyword).length}} 项

	table.billList
		thead
			tr
				th 账单号
				th 支付时间
				th 金额
				th 使用者

		tbody
			tr(ng-repeat="bill in billList | filter:keyword")
				td {{bill.ID}}
				td {{bill.date}}
				td {{bill.amount}}
				td {{bill.name}}
