.modal-header
	h3.modal-title 完成实验
.modal-body
	label 实验总费用(元)
		input.form-control(type='number' name='fill' ng-model="fill" min="0" style='display: inline-block')
	label 实验备注(费用说明)
	textarea.form-control(ng-model='detail')

.modal-footer
	button.btn.btn-primary(ng-click='end()') 完成实验
