.content
	p#title 已完成
	#controlBar
		label 快速过滤:
			input(type="text" class="form-control" ng-model="keyword" placeholder="关键词")
			span 总计: {{(orderList | filter:keyword).length}} 项

	table.orderList
		thead
			tr
				th 订单号
				th 仪器
				th 供应商
				th 用户
				th 预约时间
				th 使用项目
				th 实验预算
				th 订单状态
				th 订单备注
				th 实验详情

		tbody
			tr(ng-repeat="order in orderList | filter:keyword")
				td {{order.ID}}
				td
					a(href="/#/device/{{order.deviceID}}") {{order.category}} - {{order.model}}
				td {{order.sname}} / {{order.semail}} / {{order.sphone}}
				td {{order.uname}} / {{order.uemail}} / {{order.uphone}}
				td {{order.date}}
				td {{order.useDate}} / {{order.resource}}
				td {{order.budget}} 元
				td {{order.status | statusFilter}}
				td {{order.note}}
				td {{order.detail}}
