div#table
	p#title 操作员管理
	div(class="alert alert-danger") 本模块缺少日志，误操作保护和数据恢复功能。为了调试和初期数据录入方便，所有修改均立即自动生效，无需保存。撤销功能暂缺。
	div#grid(ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav class="grid")

	div(class="btn-group")
		button(type="button" class="btn btn-primary" ng-click="flushDirtyRows()") 保存
		button(type="button" class="btn btn-info") 撤销
		button(type="button" class="btn btn-success" ng-click="addRow()") 新增
		button(type="button" class="btn btn-warning" ng-click="deleteRow()") 删除
