#table
	p#title 缓存管理
	.alert.alert-danger 重建缓存的操作消耗比较大，正式上线之后不能频繁使用

	.btn-group
		a(href="/cache" target="_blank" class="btn btn-primary") 查看缓存
		button(type="button" class="btn btn-warning" ng-click="update()") 重建缓存
