doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="邮箱验证 - 科学指南针")
		meta(name="renderer" content="webkit")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		title 预约已提交 - 科学指南针
		style.
			a.go {
				display: inline-block;
				padding: 0.8rem 2rem;
				border-radius: 3rem;
				color: white;
				background-color: #35BDB2;
			}
			img.logo {
				height: 4rem;
			}
	body
		p 尊敬的 {name}:
		p 您在科学指南针的仪器预约已提交
		p 设备类别: {category}
		p 设备型号: {model}
		p 仪器供应方: {supply}
		p 预约方式： {method}
		p 使用日期: {date}
		p 使用段： {resource}
		p 预约备注： {note}
				
		p 仪器供应方通常会在3小时内给予答复。
		p 您可以在用户中心跟踪预约进度
		a.go(href='{userLink}') 用户中心

		img.logo(src='{logo}')
		p {datetime}
