doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title Notification for new supervisor
	body
		table(border='0', cellpadding='0', cellspacing='0', width='100%')
			tr
				p 尊敬的 {name}:
				p 您已成为科学指南针网站的管理员。
				p Admin panel:
					a(href="https://scicompass.sinaapp.com/admin") https://scicompass.sinaapp.com/admin
				p 感谢您对科学指南针网站的支持，希望您能行使好作为管理员的权利。
				p 科学指南针
				p {datetime}