doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="邮箱验证成功 - 科学指南针")
		meta(name="renderer" content="webkit")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-capable" content="yes")
		title 邮箱验证成功 - 科学指南针
		link(rel="stylesheet" href="/static/bower_components/fonts.css/fonts.css")
		link(rel="icon" type="image/png" sizes="256x256" href="/static/img/logo.png")
		style.
			body {
				color: #35BDB2;
				background-color: #EDFFF8;
			}
			a {
				color: white;
				text-decoration: none;
			}
			.content {
				text-align: center;
			}
			.big {
				font-size: 5rem;
			}
			.email {
				font-size: 2rem;
				color: #FF3062;
			}
			.go {
				display: inline-block;
				padding: 0.8rem 2rem;
				border-radius: 3rem;
				background-color: #35BDB2;
			}

	body.font-hei
		div.content
			p.big 邮箱验证成功
			p.email {email}
			p 我们已验证您对该邮箱的所有权并将其作为您的安全邮箱
			a(href='/')
				div.go 开始体验科学指南针
