doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title Verify Your email address in SciCompass
	body
		table(border='0', cellpadding='0', cellspacing='0', width='100%')
			tr
				p 尊敬的 {name}:
				p 欢迎您注册科学指南针!
				p 请点击下面的链接已绑定您的邮箱地址，你的订单信息都将发送到这个邮箱。
				a(href="{link}") {link}
				
				p 感谢您对科学指南针的信任
				p 科学指南针团队
				p {datetime}
