doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="邮箱验证 - 科学指南针")
		meta(name="renderer" content="webkit")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		title 邮箱验证 - 科学指南针
		style.
			a {
				color: #35BDB2;
			}
			div.content {
				text-align: center;
				color: #35BDB2;
			}
			p.big {
				font-size: 3rem;
			}
			a.email {
				font-size: 2rem;
				color: #FF3062;
			}
			a.go {
				display: inline-block;
				padding: 0.8rem 2rem;
				border-radius: 3rem;
				color: white;
				background-color: #35BDB2;
			}
			img.logo {
				height: 4rem;
			}

	body
		div.content
			p.big 欢迎加入科学指南针！
			a.email {email}
			p 请点击下方的按钮以绑定这个邮箱
			a.go(href='{link}') 绑定邮箱
			p 如果您无法点击以上链接，请复制以下网址直接在浏览器打开:
			p
				a(href='{link}') {link}
			img.logo(src='{logo}')
			p {datetime}
