div#outline
	accordion
		accordion-group(ng-repeat="group in grouplist" heading="{{group.name}}")
			p(ng-repeat="category in group.child")
				a(href="#/category/{{category}}") {{category}}

div#detail
	div#title {{categoryName}}
	div#filterTip 显示参数:

	div#filter
		label(class="checkbox-inline" ng-repeat="feature in field")
			input(type="checkbox" ng-model="feature.checked")
			| {{feature.name}}

	table
		tr
			th 厂商
			th 型号
			th(ng-repeat="feature in field" ng-if="feature.checked") {{feature.name}}
		tr(ng-repeat="model in modelList")
			td {{model.vendor}}
			td {{model.name}}
			td(ng-repeat="feature in field" ng-if="feature.checked") {{model.field[feature.name]}}
