div#outline
	accordion
		accordion-group(ng-repeat="group in grouplist" heading="{{group.name}}")
			p(ng-repeat="category in group.child")
				a(href="#/category/{{category}}") {{category}}

div#detail
	div.item(ng-repeat="subGroup in currentGroup")
		p {{subGroup.name}}
		hr 
		ul
			li(ng-repeat="category in subGroup.child")
				a(href="#/category/{{category}}") {{category}}
