div#outline
	div.item(ng-repeat="model in category")
		p {{model.vendor}} - {{model.name}}

div#detail
	div.item(ng-repeat="subGroup in currentGroup")
		p {{subGroup.name}}
		hr 
		ul
			li(ng-repeat="category in subGroup.child")
				a(href="#/category/{{category}}") {{category}}
