div#device
	img.shot(src="/static/img/device.jpg")
	div.info
		p.row
			span.category {{device.category}}
			span.glyphicon.glyphicon-flag
			span.address {{device.address}}
			span.glyphicon.glyphicon-earphone
			span.institute {{device.institute}}
		div.split
		p.row
			span.glyphicon.glyphicon-tag
			span.model {{device.vendor}} - {{device.model}}
		p.row
			label.btn.btn-info.btn-xs(ng-repeat="(key, value) in device.field") {{key}} {{value}}
		div {{device.info}}

	div#booking
		p.title
			span.glyphicon.glyphicon-check
			| 在线预约
		div.split
		div#datepicker
			datepicker.well.well-sm(ng-model='date' min-date='minDate' max-date='maxDate')
		div#stock
			p.date
				span.tip 预约日期:
				span.content {{date | date:'yyyy-MM-dd' }}
			p.left
				span.tip 余量:
				span.content {{device.capacity - stat.count}} 位
			p.price
				span.tip 价格:
				span.content {{device.price}}元 / {{device.unit}}
			label.btn.btn-success.btn-block.booking(ng-click="book()") 立即预约

#about
	ul.col 了解更多
		li 产品理念
		li 团队愿景
		li 官方博客

	ul.col 帮助中心
		li 客服支持
		li 常见问题
		li 用户反馈

	ul.col 商务合作
		li 产品理念
		li 团队愿景
		li 官方博客

	ul.col 法律信息
		li 产品理念
		li 团队愿景
		li 官方博客

#contract
	img#logo(src="/static/img/logo-landscape.png")
	ul#account-list
		li Weibo
		li WeChat
		li Phone
		li Email
	ul#approve-list
		li 杭州研趣科技有限责任公司
		li 浙ICP备123456号
		li 浙公网安备654321号
		li 互联网经营许可证编号：浙-18972463号
