div#home
	div#cube-wrap.cube-perspective.cube-unselectable
		each _cube in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22']
			span.cube(class='cube-' + _cube)
				each _i in [1, 2, 3, 4, 5, 6]
					i

	div#slogan
		p.big 科学指南针
		p.little 让实验更简单

	div#action
		div#go.ellipse 立即体验
			span.glyphicon.glyphicon-chevron-right
		div#view.ellipse 查看流程

	div#flow
		p#flow-name 只需四步！解决仪器难题
		div#booking.step
			span.glyphicon.glyphicon-pencil
			p.name 在线预约
			div.detail
				p 电脑 / 平板 / 手机 均可预约
				p 实时显示仪器的空闲时段
		div#confirm.step
			span.glyphicon.glyphicon-ok
			p.name 供应方确认
			div.detail
				p 短信 / 微信 / 邮件 总在第一时间
				p 三小时快速反馈
		div#payment.step
			span.glyphicon.glyphicon-yen
			p.name 支付费用
			div.detail
				p 在线支付 / 定期结账 灵活选择
				p 支付宝 / 微信支付 全线接入
		div#experiment.step
			span.glyphicon.glyphicon-send
			p.name 去实验！
			div.detail
				p 今天下单，明天即可实验
				p 走，闪人去！

	div#supply
		p#suppy-name 仪器分布
		div#rows
			div.row
				img(src='/static/3rdparty/zju.png' tooltip='浙江大学')
				img(src='/static/3rdparty/zju-medicine.png' tooltip='浙江大学医学院')
				img(src='/static/3rdparty/zjut.png' tooltip='浙江理工大学')
				img(src='/static/3rdparty/zju-parma.png' tooltip='浙大医药')
				img(src='/static/3rdparty/zju-medicine.png' tooltip='浙江大学医学院')
				img(src='/static/3rdparty/zjut.png' tooltip='浙江理工大学')
			div.row
				img(src='/static/3rdparty/zju-medicine.png' tooltip='浙江大学医学院')
				img(src='/static/3rdparty/zjut.png' tooltip='浙江理工大学')
				img(src='/static/3rdparty/zju-parma.png' tooltip='浙大医药')
				img(src='/static/3rdparty/zju-medicine.png' tooltip='浙江大学医学院')
				img(src='/static/3rdparty/zjut.png' tooltip='浙江理工大学')
				img(src='/static/3rdparty/zju.png' tooltip='浙江大学')
