div#home
	div#cube-wrap.cube-perspective.cube-unselectable
		each _cube in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15']
			span.cube(class='cube-' + _cube)
				each _i in [1, 2, 3, 4, 5, 6]
					i

	div#slogan
		p.big 科学指南针
		p.little 让实验更简单

	div#action
		div#go.ellipse 立即体验
			span.glyphicon.glyphicon-chevron-right
		div#view.ellipse 查看流程

	div#fill