div#home
	div#cube-wrap.cube-perspective.cube-unselectable
		each _cube in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19 ,20, 21, 22]
			span.cube(class='cube-' + _cube)
				each _i in [1, 2, 3, 4, 5, 6]
					i
	div#slogan
		p.big 现在，你也可以看得那么清楚
	div#box
		p#tip
			span.glyphicon.glyphicon-check.icon
			span 需要什么仪器？
		hr#line
		div#row
			div.key
				span.glyphicon.glyphicon-list
			div.value.btn-group
				label.btn.btn-lg.btn-primary(ng-click='onEntry()') 全部类别
				label.btn.btn-lg.btn-primary(ng-repeat='group in groupList' ng-click='onEntry()') {{group.name}}
