div#outline
	div.item(ng-repeat="topGroup in group" ng-mouseenter="$parent.currentGroup = topGroup.child" )
		p {{topGroup.name}}
		ul
			li(ng-repeat="example in topGroup.example") {{example}}

div#detail
	div.item(ng-repeat="subGroup in currentGroup")
		p {{subGroup.name}}
		hr 
		ul
			li(ng-repeat="category in subGroup.child")
				a(href="#/category/{{category}}") {{category}}
