div#list
	div#filter
		div.row
			div.key
				span.glyphicon.glyphicon-list
				span.type 领域：
			div.value
				label.btn.btn-sm.btn-default(ng-model="filterModel.domain" btn-radio="'不限'" ng-click="filterModel.domain = '不限'; filterModel.feature = '不限'") 不限
				label.btn.btn-sm.btn-default(ng-repeat="(domain, _) in data.hierarchy" ng-model="filterModel.domain" btn-radio="'{{domain}}'" ng-click="filterModel.domain = domain; filterModel.feature = domain") {{domain}}

		div.row
			div.key
				span.glyphicon.glyphicon-th
				span.type 性质：
			div.value
				label.btn.btn-sm.btn-default(ng-model="filterModel.feature" btn-radio="filterModel.domain") {{filterModel.domain}}
				label.btn.btn-sm.btn-default(ng-repeat="feature in data.index.feature[filterModel.domain].self track by $index" ng-model="filterModel.feature" btn-radio="'{{feature}}'") {{feature}}
				label.btn.btn-sm.btn-default(ng-show="data.index.feature[filterModel.domain].more.length" ng-click="hideMoreFeature = !hideMoreFeature") 更多
					span.caret

		div.row(collapse="hideMoreFeature" ng-repeat="row in data.index.feature[filterModel.domain].more")
			div.key
			div.value
				label.btn.btn-sm.btn-default(ng-repeat="feature in row track by $index" ng-model="filterModel.feature" btn-radio="'{{feature}}'") {{feature}}

		div.row
			div.key
				span.glyphicon.glyphicon-th-large
				span.type 类别：
			div.value
				label.btn.btn-sm.btn-default(ng-model="filterModel.category" btn-radio="filterModel.feature") {{filterModel.feature}}
				label.btn.btn-sm.btn-default(ng-repeat="category in data.index.category[filterModel.feature].self track by $index" ng-model="filterModel.category" btn-radio="'{{category}}'") {{category}}
				label.btn.btn-sm.btn-default(ng-show="data.index.category[filterModel.feature].more.length" ng-click="hideMoreCategory = !hideMoreCategory") 更多
					span.caret

		div.row(collapse="hideMoreCategory" ng-repeat="row in data.index.category[filterModel.feature].more")
			div.key
			div.value
				label.btn.btn-sm.btn-default(ng-repeat="category in row track by $index" ng-model="filterModel.category" btn-radio="'{{category}}'") {{category}}

		div.row
			div.key
				span.glyphicon.glyphicon-flag
				span.type 地点：
			div.value
				label.btn.btn-sm.btn-default(ng-model="filterModel.address" btn-radio="'不限'") 不限
				label.btn.btn-sm.btn-default(ng-repeat="address in data.index.address" ng-model="filterModel.address" btn-radio="'{{address}}'") {{address}}
	//
		div.row(ng-repeat="(key, values) in groupList | fieldFilter:filterModel")
			div.key
				span.glyphicon.glyphicon-wrench
				span.type {{key}}：
			div.value
				label.btn.btn-sm.btn-default(ng-model="filterModel.field[key]" btn-radio="'全部'") 全部
				label.btn.btn-sm.btn-default(ng-repeat="(value, _) in values" ng-model="filterModel.field[key]" btn-radio="'{{value}}'") {{value}}
//
	div#content
		div.device(ng-repeat="device in deviceList | listFilter:filterModel")
			img.shot(src="/static/img/device.jpg")
			div.info
				p.row
					span.category {{device.category}}
					span.glyphicon.glyphicon-flag
					span.address {{device.address}}
					span.glyphicon.glyphicon-earphone
					span.institute {{device.institute}}
				div.split
				p.row
					span.glyphicon.glyphicon-tag
					span.model {{device.vendor}} - {{device.model}}
				p.row
					label.btn.btn-info.btn-xs(ng-repeat="(key, value) in device.field") {{key}} {{value}}
					label.btn.btn-default.btn-xs(ng-click="isCollapsed = !isCollapsed") 更多信息
						span.caret
				div(collapse="isCollapsed") {{device.info}}
			div.action
				div.group
					label.btn.btn-default.btn-block.price {{device.price}}元 / {{device.unit}}
					a(href="#/device/{{device.ID}}")
						label.btn.btn-success.btn-block.booking 立即预约
