div#list
	div#filter
		div.row
			div.key
				span.glyphicon.glyphicon-list
				span.type 仪器类别：
			div.value
				label.btn.btn-sm.btn-default(ng-model="filterModel.group" btn-radio="'全部类别'") 全部类别
				label.btn.btn-sm.btn-default(ng-repeat="group in groupList" ng-model="filterModel.group" btn-radio="'{{group.name}}'") {{group.name}}
		div.row
			div.key
				span.glyphicon.glyphicon-th
				span.type 仪器子类：
			div.value
				label.btn.btn-sm.btn-default(ng-model="filterModel.subgroup" btn-radio="'全部子类'") 全部子类
				label.btn.btn-sm.btn-default(ng-repeat="subgroup in groupList | subgroupFilter:filterModel" ng-model="filterModel.subgroup" btn-radio="'{{subgroup.name}}'") {{subgroup.name}}
		div.row
			div.key
				span.glyphicon.glyphicon-th-large
				span.type 仪器款式：
			div.value
				label.btn.btn-sm.btn-default(ng-model="filterModel.category" btn-radio="'全部款式'") 全部款式
				label.btn.btn-sm.btn-default(ng-repeat="category in groupList | categoryFilter:filterModel" ng-model="filterModel.category" btn-radio="'{{category}}'") {{category}}
		div.row
			div.key
				span.glyphicon.glyphicon-flag
				span.type 仪器地点：
			div.value
				label.btn.btn-sm.btn-default(ng-model="filterModel.address" btn-radio="'全部地点'") 全部地点
				label.btn.btn-sm.btn-default(ng-repeat="address in addressList" ng-model="filterModel.address" btn-radio="'{{address}}'") {{address}}
		div.row(ng-repeat="(key, values) in groupList | fieldFilter:filterModel")
			div.key
				span.glyphicon.glyphicon-wrench
				span.type {{key}}：
			div.value
				label.btn.btn-sm.btn-default(ng-model="filterModel[key]" btn-radio="'全部取值'") 全部取值
				label.btn.btn-sm.btn-default(ng-repeat="(value, _) in values" ng-model="filterModel[key]" btn-radio="'{{value}}'") {{value}}

	div#content
		div.device(ng-repeat="device in deviceList | listFilter:filterModel")
			img.shot(src="/static/img/device.jpg")
			div.info
				p.row
					span.category {{device.category}}
					span.glyphicon.glyphicon-flag
					span.address {{device.address}}
					span.glyphicon.glyphicon-earphone
					span.institute {{device.institute}}
				div.split
				p.row
					span.glyphicon.glyphicon-tag
					span.model {{device.vendor}} - {{device.model}}
				p.row(ng-click="isCollapsed = !isCollapsed")
					label.btn.btn-info.btn-xs(ng-repeat="(key, value) in device.field") {{key}} {{value}}
				div(collapse="isCollapsed") {{device.info}}
			div.action
				div.group
					label.btn.btn-default.btn-block.price {{device.price}}元 / {{device.unit}}
					label.btn.btn-success.btn-block.booking 立即预约
