.modal-header
	h3.modal-title 加入科学指南针
	p 让实验更轻松

.modal-body
	div(class="alert alert-danger" ng-if="error") 用户名密码有误
	form
		input(type="text" ng-model="username" class="form-control" placeholder="账号" required autofocus)
		input(type="password" ng-model="password" class="form-control" placeholder="密码" required)
		button(type="submit" ng-click='signin()' style='display: none') 登录

.modal-footer
	button.btn.btn-info(ng-click='signup()' style="float: left") 注册
	button.btn.btn-primary(ng-click='signin()') 登录
