div#outline
	accordion
		accordion-group(heading="{{category}}" is-open="isFirstOpen")
			p(ng-repeat="model in modelList")
				a(href="#/model/{{model.vendor}}/{{model.name}}") {{model.vendor}} - {{model.name}}

div#detail
	div#title {{modelName}}
	table
		tr
			th 地址
			th 价格
			th 城市
			th 预约

		tr(ng-repeat="device in deviceList" ng-click="jump(device)")
			td {{device.address}}
			td {{device.price}} / {{device.unit}}
			td {{device.city}}
			td
				button(class="btn btn-primary") 我要预约
