div.content
	div.input-group
		p#title 个人信息
		tabset(justified='true')
			tab#basic(heading='基本信息')
				label 姓名:
					input(type="text" class="form-control" ng-model='info.name')
				br
				label 邮箱:
					input(type="text" class="form-control" ng-model='info.email')
				br
				label 手机号:
					input(type="text" class="form-control" ng-model='info.phone')
				br
				label 科研团体: {{info.groupName}}
				br
				label 积分: {{info.credit}}
				br
				div(class="btn-group")
					button(type="button" class="btn btn-success" ng-click="updateInfo()") 更新信息

			tab(heading='安全设置')
				h3 修改密码:

				label 原有密码:
					input(type="password" class="form-control" ng-model='password.oldPassword')
				br
				label 新密码:
					input(type="password" class="form-control" ng-model='password.newPassword')
				br
				label 再次输入新密码:
					input(type="password" class="form-control" ng-model='password.newPasswordAgain')
				br
				div(class="btn-group")
					button(type="button" class="btn btn-success" ng-click="updatePassword()") 修改密码

			tab(heading='关联账户') 关联账户
